{% extends "base.html" %}
{% block content %}

<h1> Members </h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
        <a  href="/bookings">Bookings</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>

    </ul>
</nav>

{% for member in members %}

<section>
    <p> Name: {{ member.name }} </p>
    <p> Age: {{ member.gender }} </p>
    <p> Gender: {{ member.age }} </p> 

    <a href="/members/{{ member.id }}/edit">Edit Member</a>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete">
    </form>
</section>

{% endfor %}
<section class="button_section">
    <a class = "add_button" href="members/new">Add a new Member</a>
</section>


{% endblock %}