{% extends "base.html" %}
{% block content %}

<h1> Members </h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
    </ul>
</nav>

{% for member in members %}

<section>
    <p> Name: {{ member.name }} </p>
    <p> Age: {{ member.gender }} </p>
    <p> Gender: {{ member.age }} </p> 

    <a href="/members/{{ member.id }}/edit">Edit Member</a>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}

<a href="members/new">Add a new Member</a>



{% endblock %}