{% extends "base.html" %}
{% block content %}

<h1>Fitness Classes</h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
        <a href="/bookings">Bookings</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>

    </ul>
</nav>
<section>
    <a class="add_button" href="fitness_classes/new">Add a Fitness Class</a>
</section>

{% for fitness_class in fitness_classes %}
<section>
    <!-- <hr> -->
    <p>Name: <a href="fitness_classes/{{ fitness_class.id }}/show_members">{{ fitness_class.name }} </p></a>
    <p>Start Time: {{ fitness_class.start_time }} </p>
    <p>End Time: {{ fitness_class.end_time }} </p>
    <p>Class Type: {{ fitness_class.class_type }} </p>
    <p>Instructor: {{ fitness_class.instructor.name }}</p>
    <form action="/fitness_classes/{{ fitness_class.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete">
    </form>
    <hr>
</section>
{% endfor %}


{% endblock %}