{% extends "base.html" %}
{% block content %}

<h1>Bookings</h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
        <a href="/bookings">Bookings</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>

    </ul>
</nav>

<section>
    <a class="add_button" href="bookings/new">Add a new Booking</a> 
</section>

{% for booking in bookings %}

<section>
    <p>Member: {{ booking.member.name }} </p>
    <p>Fitness Class: {{ booking.fitness_class.name }} </p>
    <p>Date/Time: {{booking.fitness_class.start_time}} </p>
    <a class="edit_button" href="/bookings/{{ booking.id }}/edit">Edit Bookings</a>   
    <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete">
    </form>
    <hr>
</section>

{% endfor %}

       



{% endblock %}