{% extends "base.html" %}
{% block content %}

<h1>Create a New Booking </h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
        <a  href="/bookings">Bookings</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>

    </ul>
</nav>

<form action="/bookings" method="POST">
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="fitness_class">Fitness Class:</label>
        <select name="fitness_class_id" id="fitness_class">
            {% for fitness_class in fitness_classes %}
            <option value="{{ fitness_class.id }}">
                {{ fitness_class.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}