{% extends "base.html" %}
{% block content %}

<h1> Instructors </h1>

<nav>
    <ul>
        <a  href="/">Home</a>
        <a  href="/members">Members</a>
        <a  href="/instructors">Instructors</a>
        <a  href="/fitness_classes">Fitness Classes</a>
        <a  href="/bookings">Bookings</a>
        <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>


    </ul>
</nav>

<section class="button_section">
    <a class="add_button" href="instructors/new">Add a new Instructor</a>

</section>

{% for instructor in instructors %}

<section>
    
    <p> Name: {{ instructor.name }} </p>

    <form action="/instructors/{{ instructor.id }}/delete" method="POST">
        <input class="button" type="submit" value="Delete">
       
    </form>
    <hr>
    
</section>

{% endfor %}


{% endblock %}