{% extends "base.html" %}

{% block content %}

<header>

<h1>Aviemore Gym</h1>


</header>

<body>
    <nav>
        <ul>
            <a  href="/">Home</a>
            <a  href="/members">Members</a>
            <a  href="/instructors">Instructors</a>
            <a  href="/fitness_classes">Fitness Classes</a>

            <!-- pad page out with lorem or add background image -->
        </ul>
    </nav>
    <section>
        <h2>Quick Book</h2>

        <!-- add drop down form to add members to classes -->
    </section>
</body>


{% endblock %}
