{% extends "base.html" %}

{% block content %}

<header>

<h1>Aviemore Gym</h1>


</header>

<body>
    <nav>
        <ul>
            <a  href="/">Home</a>
            <a  href="/members">Members</a>
            <a  href="/instructors">Instructors</a>
            <a  href="/fitness_classes">Fitness Classes</a>
            <a href="/bookings">Bookings</a>
            <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>


            <!-- pad page out with lorem or add background image -->
        </ul>
    </nav>

</body>



{% endblock %}
