{% extends "base.html" %}

{% block content %}

<header>

<h1>Aviemore Gym</h1>


</header>

<body>
    <nav>
        <ul>
            <a  href="/">Home</a>
            <a  href="/members">Members</a>
            <a  href="/instructors">Instructors</a>
            <a  href="/fitness_classes">Fitness Classes</a>
            <a href="/bookings">Bookings</a>
            <a  href="/upcoming_fitness_classes">Upcoming Fitness Classes</a>

        </ul>
    </nav>
    <section class="lorem">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur facere, nesciunt nihil provident numquam voluptatum reprehenderit et assumenda minima aspernatur sit eveniet, sequi est! Deleniti, nesciunt. Repellendus possimus beatae omnis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam officiis, possimus rem repellat quis nobis odit iusto laboriosam dignissimos, culpa unde a! Sunt eum sapiente beatae nostrum sit error maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti neque autem pariatur vel qui, iusto obcaecati nesciunt doloribus magni rem beatae quisquam quis quidem, dolorum numquam provident! Ullam, ex? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum necessitatibus, nobis maxime voluptatibus deleniti nam velit alias consectetur perferendis. Ad pariatur veritatis eaque molestiae totam. Explicabo ullam repellendus aspernatur temporibus.</p>
        <hr class="home_hr">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad necessitatibus id, temporibus nam nulla? Dicta quisquam, explicabo, perferendis fugit sequi nulla tempora quibusdam labore fugiat inventore ad! Ipsum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloribus dolorum fuga voluptatibus numquam maiores voluptatum rerum, aliquid ut quod quae deleniti quia hic cum laboriosam ea expedita quasi voluptatem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellat iste sequi rerum quisquam animi voluptate quaerat, vero architecto deserunt adipisci beatae aliquid eos magni error perferendis, ducimus quam. Fuga.</p>
        <hr class="home_hr">
    </section>
</body>



{% endblock %}
